@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600&display=swap");

:root {
  --primary-color: #184186;
  --primary-color-font: #fff;
  --secondary-color: #fff;
  --secondary-color-font: #184186;
  --ui-red: #d61b1b;
  --bg: #f8f8f9;
  --bg-secondary: #e9ebef;
  --grey: #666769;
  --arrow-grey: #a2a2a2;
  --green: #4da471;
}

* {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 736px;
  width: 380px;
}
